<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="CustomFieldsSection" type="PX.Web.UI.Design.CustomFieldAttributesSection, PX.Web.UI.Design, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>
    <CustomFieldsSection>
        <CustomFields>
            <clear />
            <add FieldName="&lt;Example Field&gt;" Table="" Type="Char" IgnoreDefaultAttributes=""
                PreventUIFieldAttribute="">
                <Attributes>
                    <clear />
                    <add Name="PXDBString" Constructor="PXDBString(1, IsFixed = true)"
                        Class="" IsActive="true" />
                    <add Name="PXDefault" Constructor="PXDefault(&quot;H&quot;)"
                        Class="" IsActive="true" />
                    <add Name="PXUIField" Constructor="PXUIField()" Class="" IsActive="true" />
                    <add Name="PXStringList" Constructor="PXStringList(new string[] { &quot;B&quot;, &quot;C&quot;, &quot;H&quot;, &quot;P&quot;, &quot;U&quot;, &quot;V&quot; }, new string[] { &quot;Balanced&quot;, &quot;Completed&quot;, &quot;On Hold&quot;, &quot;Posted&quot;, &quot;Unposted&quot;, &quot;Voided&quot; })"
                        Class="" IsActive="true" />
                </Attributes>
            </add>
        </CustomFields>
    </CustomFieldsSection>
</configuration>